<app-title title="Adicionar despesas"> </app-title>
<div style="width: 100%">
  <app-saldo #adicionarsaldo [saldoConta]="this.conta.saldo"></app-saldo>
</div>

<div
  id="div-message"
  class="card-panel white-text message"
  [hidden]="!this.message"
  [ngStyle]="currentStyles"
>
  {{ this.message }}
</div>

<div *ngIf="veiculo">
  <div class="container contact">
    <h6 class="title">Veículo selecionado:</h6>
    <div class="row">
      <ul class="collection col s12 offset-m2 m6">
        <li class="collection-item">
          <span class="badge left">Código:</span>{{ this.veiculo.id }}
        </li>
        <li class="collection-item">
          <span class="badge left">Modelo:</span>{{ this.veiculo.modelo }}
        </li>
        <li class="collection-item">
          <span class="badge left">Placa</span>{{ this.veiculo.placa }}
        </li>
      </ul>
    </div>
  </div>

  <form class="container" #form="ngForm" (submit)="onSubmit()">
    <div class="input-field col s6">
      <input
        id="valor"
        name="valor"
        type="text"
        class="validate"
        [(ngModel)]="this.despesa.valor"
        mask="separator.2"
        [thousandSeparator]="'.'"
        [decimalMarker]="','"
        prefix="R$ "
        [dropSpecialCharacters]="true"
        [showMaskTyped]="false"
        #valor="ngModel"
        required
      />
      <label for="valor">Valor gasto</label>
    </div>

    <div class="input-field col s12">
      <textarea
        id="nomeDespesa"
        name="nomeDespesa"
        class="materialize-textarea validate"
        data-length="50"
        [(ngModel)]="this.despesa.nomeDespesa"
        #nomeDespesa="ngModel"
        required
      ></textarea>
      <label for="nomeDespesa">Identifique esta despesa com um nome</label>
      <div class="red-text" *ngIf="nomeDespesa.errors && nomeDespesa.touched">
        Por favor, informe um nome para essa despesa!
      </div>
    </div>

    <div class="input-field col s12">
      <textarea
        id="descricao"
        name="descricao"
        type="text"
        data-length="150"
        [(ngModel)]="this.despesa.descricao"
      ></textarea>
      <label for="descricao">Descreva aqui os detalhes do valor gasto</label>
    </div>

    <button
      class="btn waves-effect waves-light button-cancel"
      type="button"
      routerLink=""
    >
      Cancelar
      <i class="material-icons right">cancel</i>
    </button>
    <button
      class="btn waves-effect waves-light button"
      type="submit"
      [disabled]="!form.valid"
    >
      Adicionar despesa
      <i class="material-icons right">save</i>
    </button>
  </form>
</div>

<div *ngIf="!veiculo">
  <div class="row">
    <div class="center-align">
      <i class="col s12 material-icons large">mood_bad</i>
      <span class="col s12 flow-text">Ops, nenhum veículo encontrado!</span>
    </div>
  </div>
</div>

<app-title title="Despesas deste veículo:"> </app-title>
<div class="row" *ngIf="despesas">
  <div class="col s12 m6 offset-m1">
    <table>
      <thead>
        <tr>
          <th data-field="td-date">Código</th>
          <th data-field="td-date">Despesa</th>
          <th data-field="td-type">Valor</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let d of this.despesas">
          <td>{{ d.id }}</td>
          <td>{{ d.nomeDespesa }}</td>
          <td>{{ d.valor | currency: "BRL" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
