<app-title title="Adicionar despesas"> </app-title>
<div style="width: 100%">
  <app-saldo
    #adicionarsaldo
    [saldoConta]="this.conta.saldo"
  ></app-saldo>
</div>

<div class="container contact">
  <h5>Veículo selecionado</h5>
  <div class="row">
    <ul class="collection col s12 offset-m2 m6">
      <li class="collection-item">
        <span class="badge left">Código:</span>{{ this.veiculo.idVeiculo }}
      </li>
      <li class="collection-item">
        <span class="badge left">Modelo:</span>{{ this.veiculo.modelo }}
      </li>
      <li class="collection-item">
        <span class="badge left">Placa</span>{{ this.veiculo.placa }}
      </li>
    </ul>
  </div>
</div>
